body { color: hsla(0,0%,0%,0.8); }
.MathJax { color: hsla(240,75%,48%,1); }
.MathJax_Display .MathJax { color: hsla(0,0%,0%,0.8); }
.theorem {background: hsla(240, 40%, 90%, 0.1); }
.lemma {background: hsla(180, 40%, 90%, 0.1); }
.proof {background: hsla(180, 40%, 90%, 0.2); border-left: darkgray 1px solid; }
.corollary {background: hsla(120, 40%, 90%, 0.1); }
.claim {background: hsla(60, 70%, 75%, 0.1); border: darkgray 1px solid; }