body { color: #5f5f5f; }
h1 { color: #586E75; }
a { color: #586E75; text-decoration: none; }
a:hover { text-decoration: underline; }
/*.MathJax { color: #586E75; }*/

.WebProofTheorem { background: #C4D5CE; }
.proof, .note { background: #F3F3F3; }

.WebProofTheorem { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.proof, .note { border-radius: 5px; }
.WebProofTheorem + .proof { border-top-left-radius: 0; border-top-right-radius: 0; }
/*CSS is stupid: Can't make corners of .WebProofTheorem not preceding .proof round.*/