body { color: #5f5f5f; }
h1 { color: #586E75; }
*:not(.MathJax_Display) > .MathJax { color: #657B83; }

.claim { background: #F3F3F3; border-radius: 5px; }
/*.claim .title { color: #93A1A1; }*/

.proof { background: #F3F3F3; border-radius: 5px; }
