/* CSS is stupid */
* { margin: 0; padding: 0; }
html, body { height: 100%; }
body { font: 12pt/1.725 open_sansregular,HelveticaNeue,Helvetica,Arial,sans-serif; text-align: center; }
h1 { font-family: 'Nunito', sans-serif; font-size: 200%; padding-top: 30px; text-align: left; }
article { margin: 20px auto; text-align: justify; max-width: 680px; text-indent: 20px; }
article > * { margin: 5px 10px; padding: 4px 10px;}

.note { text-indent: 0; }
.WebProofTheorem, .proof { text-indent: 0; margin: 20px 10px; padding: 9px 10px;}
.WebProofTheorem .title { font-weight: bold; margin-right: 5px; }
.proof .title { font-style: italic; }

aside { position: fixed; top: 5px; left: 5px; text-align: left; font-size: small; }
aside a { display: block; color: gray; text-decoration: none; }