body { background-color: #FDF6E3; color: #657B83; }
h1 { color: #586E75; }
*:not(.MathJax_Display) > .MathJax { color: #B58900; }
.claim { background: #073642; color: #839496; }
.proof { background: #EEE8D5; }
