body { background-color: #FDF6E3; color: #657B83; }
h1 { color: #586E75; }
a { color: #2aa198; }
a:hover { text-decoration: none; }
.MathJax { color: #586e75; }

.WebProofTheorem { background: #073642; color: #93a1a1; }
.WebProofTheorem .MathJax { color: #839496; }
.WebProofTheorem .title { color: #93A1A1; }
.proof, .note { background: #EEE8D5; }