body { background-color: #FDF6E3; color: #657B83; }
h1 { color: #586E75; }
a { color: #2aa198; }
a:hover { text-decoration: none; }
.MathJax { color: #586e75; }

.WebProofTheorem { background: #A6BBAE; color: transparent; /*#4D6168;*/ }
.WebProofTheorem .MathJax { color: transparent; /*#4D6168;*/ }
/*.WebProofTheorem .title { color: #EEE8D5; }*/
.proof, .note { background: #EEE8D5; }